* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

body {
    background-color: #555;
    height: 200vh;
}

.parent {
    background-color:orange;
    padding: .25rem;
    position: relative;
    height: 50%;
}

.child-1 {
    background-color: aqua;
    padding: .25rem;
    position: relative;
    /* bottom: 20px;
    right: 20px; */
    /* will be relative to the rest of the elements. You can move this without effecting the other elements. */
}

.child-2 {
    background-color: bisque;
    padding: .25rem;
    /* position: absolute;
    top: 50px;
    left: 150px; */
    /* Will follow the first parent with position relative */
}

.child-3 {
    background-color: brown;
    padding: .25rem;
    /* position: fixed;

    position: sticky;
    top: 0; */
    /* will be sticky to the screen when scolling, will stop with the parent. */
}

