img {
    height: 500px;
}

#desktop-image {
    display: none;
}

/* small (S)*/
@media (min-width: 640px) {
    #desktop-image {
        display: block;
    }
    #mobile-image {
        display: none;
    }
}

/* Medium (M)*/
@media (min-width: 768px) {
    #desktop-image {
        display: block;
    }
    #mobile-image {
        display: none;
    }
    h2 {
        color: red;
    }
}

/* large (L) */
@media (min-width: 1024px) {
    #desktop-image {
        display: block;
    }
    #mobile-image {
        display: none;
    }
}

/* x-Large (xl) */
@media (min-width: 1280px) {
    #desktop-image {
        display: block;
    }
    #mobile-image {
        display: none;
    }
}

/* xx-Large (xxl)*/
@media (min-width: 1536px) {
    #desktop-image {
        display: block;
    }
    #mobile-image {
        display: none;
    }
}
